<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>A Website</title>
  </head>
  <body>
    <!-- bring in the header partial -->
    {{> header}}
    <p>Some text here</p>
    <!-- bring in the footer partial -->
    {{> footer}}
  </body>
</<html>
