<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>A Website</title>
  </head>
  <body>
    {{> header}}
    <p>Some text here</p>
    <!-- larger than symbol in front of file name indicates bringing in partial -->
    {{> footer}}
  </body>
</<html>
