<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>A Website</title>
  </head>
  <body>
    <!-- bring in header partial -->
    {{> header}}
    <!-- use screamIt helper for hbs to make welcomeMessage from serverjs to uppercase -->
    <!--screamIt is the method/function and welcomeMessage is the parameter passed -->
    <p>{{screamIt welcomeMessage}}</p>
    <!-- bring in footer partial -->
    {{> footer}}
  </body>
</<html>
